---
import HTML from "@/icons/HTML.astro";
import CSS from "@/icons/CSS.astro";
import JavaScript from "@/icons/JavaScript.astro";

const TAGS = {
    HTML: {
        name: "HTML",
        class: "bg-[#552702] text-white",
        icon: HTML,
    },
    CSS: {
        name: "CSS",
        class: "bg-[#1d4167] text-white",
        icon: CSS,
    },
    JavaScript: {
        name: "JavaScript",
        class: "bg-[#483f00] text-white",
        icon: JavaScript,
    },
};
import GitHub from "@/icons/GitHub.astro";

const PROJECTS = [
    {
        title: "GameStore",
        description:
            "Este es un sitio web de juegos responsive que utiliza HTML, CSS y JavaScript. Contiene una barra de navegación adaptable, cuadro de notificaciones, menú animado, sección de inicio, slider de juegos populares, sección de nuevos juegos, página de descarga con videos, información sobre el juego, capturas de pantalla y enlaces de descarga.",
        github: "https://github.com/JoseAque/Responsive-Games-Website",
        image: "projects/GamesWebsite.webp",
        tags: [TAGS.HTML, TAGS.CSS, TAGS.JavaScript],
    },
];
---

{
    PROJECTS.map(({ title, description, image, tags }) => (
        <article>
            <h3 class="text-2xl font-semibold text-purple-300/80 mb-2">
                {title}
            </h3>
            <p class="text-lg mb-4 text-pretty">{description}</p>
            <ul class="flex gap-x-2 flex-row mb-2">
                {tags.map((tag) => (
                    <li>
                        <span class={`flex gap-x-2 rounded-full text-xs ${tag.class} py-1 px-2`}>
                        <tag.icon class="size-4" />
                        {tag.name}
                        </span>
                    </li>
                ))}
            </ul>
            <img
                class="rounded-lg shadow-black shadow-2xl"
                loading="lazy"
                src={image}
                alt={`Captura de pantalla del proyecto ${image}`}
            />
        </article>
    ))
}
